body {
  position: relative;
  background-color: #94b1ba;
}
h6 {
  text-decoration: none;
  font-family: verdana;
  font-size: 50px;
  color: #F4F4F4;
  text-align: center;
  background-color: #4f7191;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#4f7191),to(#a9bdd0));
  background-image: -webkit-linear-gradient(top,#4f7191,#a9bdd0);
  background-image: -moz-linear-gradient(top,#4f7191,#a9bdd0);
  background-image: -ms-linear-gradient(top,#4f7191,#a9bdd0);
  background-image: -o-linear-gradient(top,#4f7191,#a9bdd0);
  background-image: -ch-linear-gradient(top,#4f7191,#a9bdd0);
  background-image: -linear-gradient(top,#4f7191,#a9bdd0);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr = '@col' , EndColorStr = '@col2'";
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr = '@col' , EndColorStr = '@col2'";
}
button {
  font-family: verdana;
  padding: 15px 30px;
  font-size: 30px;
  background-color: #bebebe;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#bebebe),to(#ffffff));
  background-image: -webkit-linear-gradient(top,#bebebe,#ffffff);
  background-image: -moz-linear-gradient(top,#bebebe,#ffffff);
  background-image: -ms-linear-gradient(top,#bebebe,#ffffff);
  background-image: -o-linear-gradient(top,#bebebe,#ffffff);
  background-image: -ch-linear-gradient(top,#bebebe,#ffffff);
  background-image: -linear-gradient(top,#bebebe,#ffffff);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr = '@col' , EndColorStr = '@col2'";
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr = '@col' , EndColorStr = '@col2'";
}
button:hover {
  background-color: #ffffff;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#bebebe));
  background-image: -webkit-linear-gradient(top,#ffffff,#bebebe);
  background-image: -moz-linear-gradient(top,#ffffff,#bebebe);
  background-image: -ms-linear-gradient(top,#ffffff,#bebebe);
  background-image: -o-linear-gradient(top,#ffffff,#bebebe);
  background-image: -ch-linear-gradient(top,#ffffff,#bebebe);
  background-image: -linear-gradient(top,#ffffff,#bebebe);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr = '@col' , EndColorStr = '@col2'";
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr = '@col' , EndColorStr = '@col2'";
}
table#eventTemplate {
  overflow: auto;
  text-decoration: none;
  position: absolute;
  top: 70%;
  right: 10%;
  left: 60%;
  bottom: 30%;
  width: 30%;
  height: 20%;
  font-size: 14px;
  font-family: verdana;
}
table#eventTemplate tr {
  text-align: left;
}
table#eventTemplate tr th {
  font-size: 12px;
}
tr#someMAke {
  position: absolute;
  top: 40%;
}
p#name {
    position: absolute;
    top: 60%;
    right: 10%;
  height: 30px;
  font-size: 24px;
  font-family: verdana;
}
p#profset {
  top: 0%;
  left: 40%;
  text-align: center;
  font-size: 50px;
}
td#someLink a {
  position: absolute;
  top: 0%;
  left: 5%;
  height: 60px;
  width: 60px;
}
table#staticPanel {
  background-color: #94b1ba;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#94b1ba),to(#d2dee2));
  background-image: -webkit-linear-gradient(top,#94b1ba,#d2dee2);
  background-image: -moz-linear-gradient(top,#94b1ba,#d2dee2);
  background-image: -ms-linear-gradient(top,#94b1ba,#d2dee2);
  background-image: -o-linear-gradient(top,#94b1ba,#d2dee2);
  background-image: -ch-linear-gradient(top,#94b1ba,#d2dee2);
  background-image: -linear-gradient(top,#94b1ba,#d2dee2);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr = '@col' , EndColorStr = '@col2'";
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr = '@col' , EndColorStr = '@col2'";
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 5%;
}
table#celebs {
  position: absolute;
  font-family: verdana;
  top: 60%;
  left: 0%;
}
button#addProfileButton {
  position: fixed;
  left: 0%;
  bottom: 0%;
}
input#SumSubmit {
  bottom: 10%;
  left: 0%;
  position: fixed;
  font-family: verdana;
  font-size: 22px;
  padding: 2px 2px;
  background-color: #bebebe;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#bebebe),to(#ffffff));
  background-image: -webkit-linear-gradient(top,#bebebe,#ffffff);
  background-image: -moz-linear-gradient(top,#bebebe,#ffffff);
  background-image: -ms-linear-gradient(top,#bebebe,#ffffff);
  background-image: -o-linear-gradient(top,#bebebe,#ffffff);
  background-image: -ch-linear-gradient(top,#bebebe,#ffffff);
  background-image: -linear-gradient(top,#bebebe,#ffffff);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr = '@col' , EndColorStr = '@col2'";
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr = '@col' , EndColorStr = '@col2'";
}
input#SumSubmit:hover {
  background-color: #ffffff;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#bebebe));
  background-image: -webkit-linear-gradient(top,#ffffff,#bebebe);
  background-image: -moz-linear-gradient(top,#ffffff,#bebebe);
  background-image: -ms-linear-gradient(top,#ffffff,#bebebe);
  background-image: -o-linear-gradient(top,#ffffff,#bebebe);
  background-image: -ch-linear-gradient(top,#ffffff,#bebebe);
  background-image: -linear-gradient(top,#ffffff,#bebebe);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr = '@col' , EndColorStr = '@col2'";
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr = '@col' , EndColorStr = '@col2'";
}
table#allInTable p#nameP {
  text-decoration: none;
  position: absolute;
  top: 17%;
  left: 5%;
  width: 15%;
  height: 30px;
  font-size: 24px;
  font-family: verdana;
}
table#allInTable input#nameInput {
  overflow: auto;
  position: absolute;
  left: 3%;
  top: 28%;
  height: 8%;
  width: 30%;
  font-family: verdana;
  text-decoration: none;
  font-size: 24px;
}
table#allInTable p#introduction {
  text-decoration: none;
  position: absolute;
  top: 35%;
  left: 5%;
  width: 15%;
  height: 30px;
  font-size: 24px;
  font-family: verdana;
}
table#allInTable textarea#templateArea {
  font-family: verdana;
  position: absolute;
  top: 45%;
  left: 3%;
  min-width: 50%;
  max-width: 50%;
  width: 50%;
  height: 20%;
}
table#allInTable select {
  position: fixed;
  top: 25%;
  left: 6%;
  width: 21%;
  height: 50%;
  font-size: 18px;
  font-family: verdana;
}
th#Event {
  width: 40%;
  height: 10%;
}
table#tableEvent {
  overflow: auto;
  text-decoration: none;
  position: absolute;
  top: 70%;
  left: 10%;
  right: 45%;
  bottom: 30%;
  width: 45%;
  height: 20%;
  font-size: 14px;
  font-family: verdana;
}
table#tableEvent tr {
  text-align: left;
}
table#tableEvent tr th {
  font-size: 12px;
}
table#tableEvent tr td textarea {
  font-family: verdana;
  overflow: auto;
  width: 500px;
  max-width: 500px;
  max-height: 300px;
  font-size: 15px;
}
input#eventInput {
  font-size: 18px;
  height: 30px;
  width: 230px;
  font-family: verdana;
}
input#publicInput {
  font-size: 18px;
  height: 35px;
  width: 230px;
  font-family: verdana;
}
input#buttonInTable {
  width: 230px;
  height: 35px;
  font-size: 25px;
  font-family: verdana;
}